@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-urbanist: "Urbanist", sans-serif;
}

@plugin "daisyui" {
  themes: light --default, dark;
  root: ":root";
  logs: false;
}

:root {
  --color-primary: #7f22fe;
}
